<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TestUI.Properties.Settings>
      <setting name="address" serializeAs="String">
        <value>192.168.1.103</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="duration" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="singfreq" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="minfreq" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="maxfreq" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="amplitude" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="sampfreq" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="singaltype" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="channum" serializeAs="String">
        <value>0</value>
      </setting>
    </TestUI.Properties.Settings>
  </userSettings>
</configuration>